# For a description of these parameters, please visit the theme wiki.
# https://github.com/traceypooh/hugo-future-imperfect-slim/wiki/config.toml
# https://github.com/pacollins/hugo-future-imperfect-slim/wiki/config.toml
baseurl                 = "https://poohbot.com/"
# this promising extra option breaks deployed site:
# relativeurls            = true
DefaultContentLanguage  = "en"
title                   = "Tracey Jaquith · PoohBot Pictures"

# I'm using a forked version of abandoned theme:
#   https://github.com/traceypooh/hugo-future-imperfect-slim
theme                   = "theme"

preserveTaxonomyNames   = true
pagination.pagerSize    = 10
disqusShortname         = ""
googleAnalytics         = ""
pluralizeListTitles     = false
disableLanguages        = [""]

# we like everything in top dir
contentDir = "."
assetDir = "."
themesDir = "."

# dont process or copy these into dest 'public/' dir:
ignoreFiles = ['archetypes/default.md', 'config.toml', 'staticman.yml', 'gogo' ,'bin/', 'theme', 'public', '.git', '\.tmp$']


[markup.goldmark.renderer]
  # show inline HTM
  unsafe = true

[module]
  [module.hugoVersion]
  extended              = true
  min                   = "0.62.0"

[outputs]
  home                  = ["html", "json", "rss"]


[permalinks]
  post = "/:year-:month-:title/"

[params]
  enableCDN = false
  # Loads CSS and JavaScript files. The variable is an array so that you can load
  # multiple/additional files if necessary. The standard theme files can be loaded
  # by adding the value, "default". Default includes the add-on.css and and-on.js.
  # Example: ["default", "/path/to/file"]
  cssFiles              = ["default", "/fonts/fonts.css"]
  jsFiles               = ["default"]

  search =  true
  search_minify = false

  mainSections = ["post"]

  # Sets options for highlight.js
  highlightjs           = true
  highlightjsLang       = []

  # Sets where "View More Posts" links to
  viewMorePostsLink     = "/page/2"
  # Activate Estimated Reading Times, which appear in the post headers
  readingTime           = true
  imageStretch          = ""
  removeBlur            = true
  # Sets which Social Share links appear in posts.
  # Options are twitter, facebook, reddit, linkedin, pinterest, email
  socialShare           = ["twitter", "facebook", "pinterest", "email", "linkedin", "reddit"]
  hideEmptyStats        = false
  toc                   = false
  tocWords              = 400

  [params.meta]
    # Sets the meta tag description
    description         = "Tracey Jaquith / traceypooh website & blog.  Tech, Cycling, Video, DevOps, JS & more.  Live nonstop."
    # Sets the meta tag author
    author              = "HTML5UP and Hugo"
    favicon             = false
    svg                 = true
    faviconVersion      = "1"
    msColor             = "#ffffff"
    iOSColor            = "#ffffff"

  [params.header]
    # Sets the navbarTitle that appears in the top left of the navigation bar
    navbarTitle         = "Tracey Pooh"
    # Sets navbarTitle to match the section of the website
    dynamicTitles       = true
    searchMenu          = true
    shareMenu           = true
    languageMenu        = false

  # These are optional params related to the sidebar. They are recommended, but not
  # required for proper functionality. HTML is supported within the params.
  [params.intro]
    header                = "Tracey Jaquith · PoohBot Pictures"
    paragraph             = "Technophile · Optimist · <a href=/biking>Cyclist</a> · <a href=https://archive.org/about/bios.php>Archivist</a> · Design · <a href=/video>Video</a> · TV · Nomad · Docker"
    rssIntro              = true
    socialIntro           = true
    hideWhenSingleColumn  = false
    alwaysOnHomepage      = false

    # This appears at the top of the sidebar above params.intro.header.
    # A width of less than 100px is recommended from a design perspective.
    [params.intro.pic]
      src                 = "/img/traceymonet-half.jpg"
      # Masks image in a certain shape. Supported are circle, triangle, diamond, and hexagon.
      shape               = "hexagon"
      width               = ""
      alt                 = "Hugo Future Imperfect Slim"

  [params.sidebar]
    about               = "tracey is a nonstop dance party.  so you dont have to.  dont ask me about <a href=/2019-08-meesa-3-k8s-annie/>containers</a>.  thanks for dropping by today.  you look nice."
    # Sets the number of recent posts to show in the sidebar. The default value is 5.
    postAmount          = 5
    # set to show or to hide categories in the sidebar
    categories          = true
    # Sets Categories to sort by number of posts instead of alphabetical
    categoriesByCount   = true

  [params.footer]
    # Sets RSS icons to appear on the sidebar with the social media buttons
    rssFooter           = true
    # Sets Social Media icons to appear on the sidebar
    socialFooter        = true

  [params.utterances]
    enabled             = false
    repo                = ""
    issueTerm           = "pathname"
    issueNumber         = ""
    label               = ""
    theme               = "github-light"

  [params.staticman]
    # See staticman.yml for additional settings.
    enabled             = true
    api                 = "blogtini.netlify.app"
    gitProvider         = "github"
    username            = "traceypooh"
    repo                = "poohbot"
    branch              = "main"

[menu]
  # Sets the menu items in the navigation bar
  # Identifier prepends a Font Awesome icon to the menu item
  [[menu.main]]
    name              = "Home"
    identifier        = "home"
    url               = "/"
    pre               = "<i class='fa fa-home'></i>"
    weight            = 1

  [[menu.main]]
    name              = "About"
    identifier        = "about"
    url               = "/about/"
    pre               = "<i class='far fa-id-card'></i>"
    weight            = 2

  [[menu.main]]
    name              = "Categories"
    identifier        = "categories"
    url               = "/categories/"
    pre               = "<i class='fas fa-sitemap'></i>"
    weight            = 3

  [[menu.main]]
    name              = "Favorites"
    identifier        = "favorites"
    url               = "/favorites/"
    pre               = "<i class='far fa-star'></i>"
    weight            = 4

  [[menu.main]]
    name              = "Quotes"
    identifier        = "quotes"
    url               = "/quotes/"
    pre               = "<i class='fa fa-quote-left'></i>"
    weight            = 5

  [[menu.main]]
    name              = "Contact"
    identifier        = "contact"
    url               = "/contact/"
    pre               = "<i class='far fa-envelope'></i>"
    weight            = 6

# Sets Social Media icons to appear and link to your account. Value should be your
# username unless otherwise noted. These are the icons affected by socialAppearAtTop
# and socialAppearAtBottom.
[params.social]
  twitter               = "tracey_pooh"
  youtube               = "@traceypooh"
  linkedin              = "tracey-jaquith-929432"
  pinterest             = "poohbot"
  github                = "traceypooh"
  gitlab                = "traceypooh"
  codepen               = "traceypooh"
  stackoverflow         = "11941875" # User Number
  flickr                = "46222920@N05"
  tumblr                = "traceypooh"
  strava                = "traceypooh"

  # Coding Communities
# github                = "pacollins/hugo-future-imperfect-slim"
# gitlab                = ""
# stackoverflow         = "" # User Number
# bitbucket             = ""
# jsfiddle              = ""
# codepen               = ""
  # Visual Art Communities
# deviantart            = ""
# flickr                = "example"
# behance               = ""
# dribbble              = ""
  # Publishing Communities
# wordpress             = ""
# medium                = ""
  # Professional/Business Oriented Communities
# linkedin              = "example"
# linkedin_company      = "examplebusiness"
# foursquare            = ""
# xing                  = ""
# slideshare            = ""
  # Social Networks
# facebook              = "example"
# googleplus            = ""
# reddit                = "example"
# quora                 = ""
# youtube               = ""
# vimeo                 = ""
# whatsapp              = "" # WhatsApp Number
    # WeChat and QQ need testing.
#   wechat              = ""
#   qq                  = "" # User ID Number
# instagram             = "example"
# tumblr                = ""
# twitter               = "example"
# strava                = ""
# skype                 = ""
# snapchat              = ""
# pinterest             = "example"
# telegram              = "example"
# vine                  = ""
# googlescholar         = ""
# orcid                 = ""
# researchgate          = "example"
# keybase               = "example"
mastodon                = "mastodon.social/@traceypooh"
  # Email
# email                 = "example"
